/*Documento general de estilos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --naranja: #EA5C2B;
    --naranja-claro: #FF7F3F;
    --amarillo: #F6D860;
    --verde: #95CD41;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.cntr-home{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}